{% extends "base.html" %}
{% block title %}Engineering Day 22 | login{% endblock %}
{% block content %}

<style>
  #background{
        background-image: url('/static/images/background1.jpg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
        position: relative;
        font-family: 'Tajawal-medium';
        color: #363636;
        overflow: auto;
    }
  .overlay{
      background-color: #198731b0;
      width: 100%;
      position: absolute;
      height: 100%;
  }
  .overlay0{
      background-color: rgba(0, 0, 0, 0.575);
      width: 100%;
      position: absolute;
      height: 100%;
  }
  .container{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    z-index: 100;
  }
  form{
    text-align: center;
  }
  .box{
    background-color: white;
    box-shadow: 1 1 1 black;
  }
  .col-xs-12{
    width: 90%;
    margin: 0 auto;
  }
  .submitbutton{
        color: white;
        padding: 10px 40px;
        margin: 30px;
        text-align: center;
        background-color: #1abc9c;
        text-decoration: none;
        font-size: 22px;
        border: none;
        outline: none;
    }
</style>
<div id="background">
<div class="overlay0"></div>
<div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">

      </div>
      <div class="col-md-6 col-xs-12 box">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <br><br>
          <h1>أهلًا بعودتك </h1>
          <br>
        
            <div class="mb-3">
          {{ form.email.label(class="form-label") }}
          {% if form.email.errors %}
          {{ form.email(placeholder="example@email.com", class="is-invalid form-control") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.email(placeholder="example@email.com", class="form-control") }}
          {% endif %}
        </div>

        <div class="mb-3">
          {{ form.password.label(class="form-label") }}
          {% if form.password.errors %}
          <div class="invalid-feedback">
            {{ form.password(placeholder="password", class="is-invalid form-control") }}
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.password(placeholder="password", class="form-control") }}
          {% endif %}
        </div>
        
        <div class="mb-3">
          <a href="{{ url_for('reset_request') }}">نسيت كلمة المرور؟</a> <br>
          <a href="{{ url_for('register') }}">ليس لديك حساب؟ سجل من هنا</a>
          <br>
          {{ form.submit(style="width: auto;", class='submitbutton') }}
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}