{% extends "base.html" %}
{% block title %}Engineering Day 22{% endblock %}
{% block content %}
<style>
    #background{
        background-image: url('/static/images/background1.jpg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 531px;
        position: relative;
        overflow: hidden;
    }
    .overlay{
        background-color: #198731b0;
        width: 100%;
        position: absolute;
        height: 100%;
        overflow: hidden;
    }
    .overlay0{
        background-color: rgba(0, 0, 0, 0.575);
        width: 100%;
        position: absolute;
        height: 100%;
        overflow: hidden;
    }
    #background .container{
        font-family: 'Tajawalbold' !important;
        color: white;
        position: relative;
        text-align: center;
        margin-top: 200px;

    }
    #background .container h1{
        font-family: 'Tajawalbold';
    }
    .join{
        color: white;
        padding: 10px 40px;
        margin: 30px;
        text-align: center;
        background-color: #1ce822;
        text-decoration: none;
        font-size: 22px;
    }
</style>
<div id="background">
    <div class="overlay0"></div>
    <div class="overlay"></div>
    <div class="container">
        <h1>بوابة الهندسة 21</h1>
        <p>انضم الآن للحدث الأكبر الخاص بطلاب الهندسة لتكتشف مستقبلك الهندسي</p>
        <p style="margin-top: 30px;">
            <a href="{{ url_for('register') }}" class="join">انضم الآن</a>
        </p>
    </div>
</div>

{% endblock %}