{% extends "base.html" %}
{% block title %} {{ sdf }} {% endblock %}
{% block content %}

<style>
    h2{
        color: white;
    }
    body{
        font-family: Tajawal-medium;
    }
    #background{
        background-image: url('/static/images/engineering_fields.jpg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 200px;
        position: relative;
        overflow: hidden;
    }
    .overlay{
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        position: absolute;
        height: 100%;
        overflow: hidden;
    }
    #background .container{
        font-family: 'Tajawalbold' !important;
        color: white;
        position: relative;
        text-align: center;
        margin-top: 100px;

    }
    .hov:hover svg{
        fill: #0a58ca;

    }
    @media (min-width: 660px) {
        .frame{
            height: 490px !important;
        }
    }
</style>
<input id="titlet" type="hidden" value="{{ title }}">

{% if sub == 'engineering_fields' %}
    <div id="background">
        <div class="overlay"></div>
        <div class="container">
            <h2>التخصصات الهندسية</h2>
        </div>
    </div>
    <div id="content">
        <div style="padding: 20px; margin: 30px auto; background-color: white; border-radius: 4px;" class="container">
            <h3 style="margin-top: 30px;">عن الفقرة:</h3>
            <p style="text-align: justify;">
                أحد فقرات ملتقى بوابة الهندسة 2021 والتي يقدمها نخبة من الطلاب المتميزين من مختلف تخصصات الهندسة, يقدمون فيها تعريف موجز عن التخصصات الهندسية ونصائح ثمينة للطلاب المستجدين في كلية الهندسة تساعدهم في اختيار تخصصهم المناسب بمشيئة الله.
            </p>
            <h3 style="margin-top: 30px;">المقدمون: </h3>
            <p>
                <ul>
                    <li>
                        عبدالرحمن الخطيب: هندسة التعدين، الهندسة الكهربائية وهندسة الحاسبات
                    </li>
                    <li>
                        مشعل الشهري: هندسة الطيران والفضاء، الهندسة الميكانيكية
                    </li>
                    <li>
                        منصور ابا العلا: الهندسة الكيميائية، الهندسة المدنية والبيئية
                    </li>
                    <li>
                        صهيب درويش: الهندسة الصناعية، الهندسة النووية
                    </li>
                </ul>
            </p>
        <h3 style="margin-top: 30px;">ملفات مهمة: </h3>
        <p>
            <a class="hov" href="https://drive.google.com/file/d/1DKVGljk0MyZkm6yeEkKy_F5qZK7JPGG9/preview" target="_blank">نبذة عن تخصصات كلية الهندسة (pdf) 
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 384 384" width="10" fill="#0d6efd" height="10" xml:space="preserve">
           <g>
               <g>
                   <g>
                       <polygon points="234.667,0 234.667,42.667 311.147,42.667 101.44,252.373 131.627,282.56 341.333,72.853 341.333,149.333 
                           384,149.333 384,0 			"/>
                       <path d="M341.333,341.333H42.667V42.667H192V0H42.667C19.093,0,0,19.093,0,42.667v298.667C0,364.907,19.093,384,42.667,384
                           h298.667C364.907,384,384,364.907,384,341.333V192h-42.667V341.333z"/>
                   </g>
               </g>
           </g>
           </svg>
           
            </a>
        </p>
        <div class="row">
            <iframe class="frame" src="https://drive.google.com/file/d/1DKVGljk0MyZkm6yeEkKy_F5qZK7JPGG9/preview" width="640" height="250" allow="autoplay"></iframe>
        </div>
        </div>
    </div>
{% endif %}
<script>
    $(document).ready(function(){
        var title = $('#titlet').val()
        document.title = title;
    })
</script>
{% endblock %}
